@font-face {
    font-family: "Cooper Hewitt";
    src: url(../css/fontes/Cooper-Hewitt/CooperHewitt-Heavy.otf) format(otf);
}

@font-face {
    font-family: "CooperHewitt";
    src: url(../css/fontes/Cooper-Hewitt/CooperHewitt-Bold.otf) format(otf);
}

@font-face {
    font-family: "CooperHewitt";
    src: url(../css/fontes/Cooper-Hewitt/CooperHewitt-Medium.otf) format(otf);
}

@font-face {
    font-family: "CooperHewitt";
    src: url(../css/fontes/Cooper-Hewitt/CooperHewitt-Heavy.otf) format(otf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;

    font-size: 100%;
    background-color: #F1EEE8;
}

/* header */
header{
    width: 100%;
    height: 660px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;

    background-image: url(../css/imagens/cb-2/all-computer-mockup.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;

    font-family: ;
}

header > .home-page{
    width: 700px;
    color: #3B47E4;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

header > .home-page > h1{
    width: 550px;
    position: relative;
    top: -175px;
    left: -170px;

    font-family: 'Cooper Hewitt';
    font-style: normal;
    font-weight: 713;
    font-size: 58px;
    line-height: 65px;
    /* or 112% */

    letter-spacing: 0.01em;

    color: #3B47E4;
}

header > .home-page > p{
    position: absolute;
    width: 480px;
    height: 113px;
    left: 155px;
    top: 250px;

    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    /* or 115%*/


    color: #3B47E4;
}

header > .home-page > .lista-home-page{
    position: absolute;
    
    width: 470px;
    height: 26px;
    left: 196px;
    top: 350px;

    

    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    text-align: justify;
    /* identical to box height, or 124%*/

    color: #3B47E4;

    list-style-image: url(../css/imagens/cb-2/check.svg);
    
}

.home-page > .lista-home-page > p{
    position: relative;
    background-image: url(../css/imagens/cb-2/check.svg);
    background-repeat: no-repeat;
    background-position: -10px;
    background-size: 26px;
}

header > .home-page > .button{
    width: 400px;
    height: 61px;

    position: absolute;
    left: 160px;
    top: 550px;

    background: #D6FF72;
    border-radius: 50px;
    border: none;

    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 29px;
    /* identical to box height */

    

    color: #2730A6;
}
/**/


/* lista de vantagens */
.lista-de-vantagens{
    width: 100%;
    height: 250px;
    
    align-items: center;

    background: #3B47E4;
}

.vantagens-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    position: relative;
    top: 64.6px;
    margin: 53px 160px; 

    /* colocar padding */
}

.lista-de-vantagens > .vantagens-icon > img{
    max-width: 53.33px;
}

.vantagens-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin: 53px 160px;  
}

.lista-de-vantagens > .vantagens-texto > p{
    max-width: 230px;
    height: 35px;

    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;

    position: relative;
    top: 25px;
}
/**/

/* lista de benefícios */
.lista-de-beneficios{
    max-width: 1440px;
    height: 250px;
    padding: 84px 160px;
    
    align-items: center;

    background: #3B47E4;
}

.beneficios-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    
}

.lista-de-beneficios > .beneficios-icons > img{
    max-width: 47px;
}

.beneficios-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}

.lista-de-beneficios > .beneficios-texto > p{
    max-width: 265px;
    height: 35px;

    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}

.beneficios-button{
    margin: auto;
    width: 475px;
    height: 61px;
    border: 0;
    
}

.beneficios-button > button{
    margin: auto;
    width: 350px;
    height: 50px;
    background: #D6FF72;
    border-radius: 50px;
    
    align-items: center;

    font-style: normal;
    
    border: 0;
}

/**/

/* section bonus 01 */
.bonus-01{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding: 92px 160px;
    background-color: #3B47E4;
    color: #fff;
}

.bonus-01 > figure{
    position: absolute;
    left: 105px;
    top: 55px;
}

.bonus-01 > .info-bonus-01 > span{
    position: relative;
    top: 25px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em; 
}

.bonus-01 > .info-bonus-01 > h3{
    position: relative;
    top: 22px;
    font-family: 'Cooper Hewitt';
    font-style: normal;
    font-weight: 713;
    font-size: 34px;
    line-height: 44px;
}

.bonus-01 > .info-bonus-01 > h4{
    width: 680px;
    position: relative;
    top: 22px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
}

.bonus-01 > .info-bonus-01 > p{
    width: 680px;
    height: 162px;
    position: relative;
    top: 40px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
}

.bonus-01 > .info-bonus-01 > ul{
    position: relative;
    top: 30px;
    width: 705px;
    padding-top: 25px;

    list-style-image: url(../css/imagens/cb-8/arrow-icon.svg);
    list-style-position: inside;
    
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
}
/**/

/* section bonus 02 */
.bonus-02{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding: 92px 160px;
    background-color: #E5E5E5;
    color: #3B47E4;
}

.bonus-02 > figure{
    position: absolute;
    left: 105px;
    top: 490px;
}

.bonus-02 > .info-bonus-02 > span{
    position: relative;
    top: 25px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em; 
}

.bonus-02 > .info-bonus-02 > h3{
    position: relative;
    top: 22px;
    font-family: 'Cooper Hewitt';
    font-style: normal;
    font-weight: 713;
    font-size: 34px;
    line-height: 44px;
}

.bonus-02 > .info-bonus-02 > h4{
    width: 600px;
    height: 66px;
    position: relative;
    top: 22px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
}

.bonus-02 > .info-bonus-02 > p{
    width: 700px;
    height: 135px;
    position: relative;
    justify-content: right;
    top: 40px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
}

.bonus-02 > .info-bonus-02 > ul{
    position: relative;
    top: 30px;
    width: 705px;
    padding-top: 10px;

    list-style-image: url(../css/imagens/cb-9/arrow-pink.svg);
    list-style-position: inside;
    
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
}
/**/

/* section bonus 03 */
.bonus-03{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding: 92px 160px;
    background-color: #3B47E4;
    color: #FFFFFF;
}

.bonus-03 > figure{
    position: absolute;
    left: 83px;
    top: 239px;
}

.bonus-03 > .info-bonus-03 > span{
    position: relative;
    top: 35px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em; 
}

.bonus-03 > .info-bonus-03 > h3{
    position: relative;
    top: 40px;
    font-family: 'Cooper Hewitt';
    font-style: normal;
    font-weight: 713;
    font-size: 34px;
    line-height: 44px;
}

.bonus-03 > .info-bonus-03 > h4{
    width: 610px;
    height: 66px;
    position: relative;
    top: 60px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.bonus-03 > .info-bonus-03 > p{
    width: 660px;
    height: 189px;
    position: relative;
    justify-content: right;
    top: 120px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
}

.bonus-03 > .info-bonus-03 > ul{
    position: relative;
    top: 130px;
    width: 705px;
    padding-top: 10px;

    list-style-image: url(../css/imagens/cb-10/arrow-green.svg);
    list-style-position: inside;
    
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
}
/**/

/* section bonus 04 */
.bonus-04{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding: 92px 160px;
    background-color: #E5E5E5;
    color: #3B47E4;
}

.bonus-04 > figure{
    position: absolute;
    left: 107px;
    top: 83px;
}

.bonus-04 > img{
    padding-top: 44px;
    padding-bottom: 44px;
}

.bonus-04 > .info-bonus-04 > span{
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    top: -15px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em; 
}

.bonus-04 > .info-bonus-04 > h3{
    position: relative;
    top: -15px;
    font-family: 'Cooper Hewitt';
    font-style: normal;
    font-weight: 713;
    font-size: 34px;
    line-height: 44px;
}

.bonus-04 > .info-bonus-04 > h4{
    width: 520px;
    height: 66px;
    position: relative;
    top: -5px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
}

.bonus-04 > .info-bonus-04 > p{
    width: 700px;
    height: 135px;
    position: relative;
    justify-content: right;
    top: 15px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
}

.bonus-04 > .info-bonus-04 > ul{
    position: relative;
    top: 75px;
    width: 705px;
    padding-top: 10px;

    list-style-image: url(../css/imagens/cb-9/arrow-pink.svg);
    list-style-position: inside;
    
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 35px;
}
/**/

/* section bonus 05 */
.bonus-05{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding: 92px 160px;
    background-color: #3B47E4;
    color: #FFFFFF;
}

.bonus-05 > figure{
    position: absolute;
    left: 106px;
    top: 280px;
}

.bonus-05 > .info-bonus-05 > span{
    position: relative;
    top: 20px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em; 
}

.bonus-05 > .info-bonus-05 > h3{
    position: relative;
    top: 25px;
    font-family: 'Cooper Hewitt';
    font-style: normal;
    font-weight: 713;
    font-size: 34px;
    line-height: 44px;
}

.bonus-05 > .info-bonus-05 > h4{
    width: 610px;
    height: 66px;
    position: relative;
    top: 30px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.bonus-05 > .info-bonus-05 > p{
    width: 660px;
    height: 189px;
    position: relative;
    justify-content: right;
    top: 10px;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
}
.bonus-05 > .info-bonus-05 > .o-que-voce-vai-aprender{
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    top: -50px;

    color: #D6FF72;
}

.bonus-05 > .info-bonus-05 > ul{
    position: relative;
    top: -45px;
    width: 705px;
    padding-top: 10px;

    list-style-image: url(../css/imagens/cb-12/asterisco-icon.svg);
    list-style-position: inside;
    
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 40px;
}
/**/
/* recapitulando */
.recapitulando {
    width: 100%;
    padding: 70px 0;
    background-color: #FFB0E2;
    color: #3B47E4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.recapitulando h3{
    font-family: 'Cooper Hewitt';
    font-style: normal;
    font-weight: 713;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
}
.recapitulando #topicos{
    width: 70%;
    line-height: 26px;
}
#topicos div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    padding: 26px;
}
#topicos #topico-1{
    border-bottom: 2px solid #D6FF72;
}
#topicos #topico-2{
    border-bottom: 2px solid #D6FF72;
}
#topicos #topico-3{
    border-bottom: 2px solid #D6FF72;
}
#topicos #topico-4{
    border-bottom: 2px solid #D6FF72;
}
#topicos #topico-5{
    border-bottom: 2px solid #D6FF72;
}
.recapitulando span{
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 53px;
    text-align: center;
}
/* footer */
footer{
    max-width: 1440px;
    height: 340px;
    justify-content: center;
    
}

footer > .info-footer {
    display: flex;
    

}

footer > .info-footer > div {
    width: 25%;

    color: #3B47E4;
}

footer > .info-footer > .img-footer{
    position: relative;
    width: 137px;
    height: 69px;
    left: 16px;
    
    
}

footer > .info-footer > .direitos{
    position: relative;
    width: 416px;
    height: 20px;
    left: 46px;
    margin: 0;
    padding-right: 12px;
    
    
    line-height: 20.32px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

footer > .info-footer > .contato{
    position: relative;
    margin: 0 20px;
    width: 320px;
    height: 40px;
    left: 59px;
    
    
    line-height: 20.32px;
    font-weight: 400;
    font-size: 16px;
}

footer > .info-footer > .termo-de-uso{
    position: relative;
    width: 229px;
    height: 80px;
    left: 150px;
    margin: 0;
    
    
    line-height: 20.32px;
    font-weight: 400;
    font-size: 16px;
}

footer > .line-footer {
    position: relative;
    width: 98%;
    height: 0px;
    left: 16px;
    right: 15px;
    top: 50px;
    

    border: 1px solid #3B47E4;
}

footer > p {
    position: relative;
    margin: auto;
    width: 90%;
    height: 80px;
    
    top: 90px;
    

    font-size: 16px;
    font-weight: 400;
    line-height: 20.32px;
    color: #3B47E4;

    /*usar linha como border-top*/
}